/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: #008B8B;	
	background-image:-webkit-linear-gradient(45deg,
	rgba(255, 255, 255, .2) 25%,
	transparent 25%,
	transparent 50%,
	rgba(255, 255, 255, .2) 50%,
	rgba(255, 255, 255, .2) 75%,
	transparent 75%,
	transparent)
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgb(226, 226, 226); 
}

::-webkit-scrollbar{
	width: 10px;
	background-color: #F5F5F5;
}


.list-group-item {
    width: 30px;
    padding: 0;
}

.list-group {
	margin-top: 8%;
	width: 50px;
}

.list-group li {
	margin-bottom: 3px;
}

.icon {
	width: 30px;
	background: white;
}

.list-group a {
	position: relative;
	height: 30px;
	display: inline;
}

.list-group img {
	border: 3px solid white;
    border-radius: 15px;
	transition: all 0.2s;
	width: 40px;
}

.list-group a span {
	color: #fff;
	line-height: 30px;
	position: absolute;
	padding: 0 10px;
	width: 100%;
	text-align: center;
	display: none;
}

.list-group img:hover {
	width: 50px;
}